@import "../../../style/variable";
@import "../../../style/fonts/fonts";

list-item {
  min-width: 300px;

  md-list-item {

    .list-icon,
    .list-text-icon {
      color: $black;
      margin-left: -7px;
      text-align: center;
      width: 60px;
    }

    .list-icon {
      font-size: 32px;
    }

    .list-text-icon {
      border: 1px solid $black;
      border-radius: 50px;
      font-size: 18px;
      text-align: center;
    }

    .list-timestamp {
      min-width: 100px;
      white-space: nowrap;
    }
  }

  .md-list-item-text {
    width: 300px;
  }

  .list-title,
  .list-description,
  .list-subtitle,
  .list-duration,
  .list-side-text,
  .list-status-text {
    text-overflow: clip;
  }

  md-list-item.md-2-line .md-list-item-text,
  md-list-item.md-2-line > .md-no-style .md-list-item-text {
    // clear left margin since it messes up the spacing compared to the small items
    margin-left: 0;
  }

  md-list-item.list-item-not-lg {

    icon {
      margin-top: -20px;
    }

    .md-2-line .md-list-item-text,
    .md-no-style .md-list-item-text {
      margin-bottom: 12px;
      margin-top: 14px;
    }

    .list-title,
    .list-description,
    .list-subtitle {
      text-transform: capitalize;
    }

    .list-title {
      font-family: $primary-font;
    }

    .list-description,
    .list-subtitle {
      color: $shade;
      font-family: Arial;
    }

    .md-list-item-text > h4.list-description {
      line-height: 1.4em;
      margin-bottom: 0;
      margin-top: 0;
    }

    .md-list-item-text > p.list-subtitle {
      font-size: 12px;
      line-height: 1.2em;
      margin-bottom: 0;
      margin-top: 0;

    }

    .list-timestamp,
    .list-side-text,
    .list-status-text,
    .list-duration,
    .list-label {
      font-family: Arial;
      font-size: .75em;
      font-weight: normal;
      text-align: right;
    }

    .list-side-text {
      color: $shade;
    }

    .list-duration,
    .list-label {
      color: $shade;
    }

    .list-label {
      text-transform: uppercase;
      white-space: nowrap;
    }

    .list-status-text {
      font-size: .75em;
      text-transform: uppercase;
    }

    div.md-list-item-text.addition-info {
      height: 64px;
      margin: 0;
    }

    .md-secondary-container {
      margin-right: -10px;
    }

    .action-icon {
      height: 24px;
    }

    .more-options {
      height: 100%;
    }
  }

  md-list-item.list-item-lg {
    height: 60px;
    min-height: 60px;

    .md-button.md-no-style {
      height: 60px;
      min-height: 60px;
    }

    .list-title,
    .list-description,
    .list-subtitle {
      text-transform: capitalize;
    }

    .md-list-item-text > h3.list-title {
      font-family: $primary-font;
      font-size: 18px;
      text-transform: capitalize;
    }

    .md-list-item-text > h4.list-description {
      color: $black-darker;
      font-family: Arial;
      font-size: 16px;
    }

    .md-list-item-text > p.list-subtitle {
      color: $shade;
      font-family: Arial;
      font-size: 16px;
    }

    .list-timestamp,
    .list-side-text,
    .list-status-text,
    .list-duration,
    .list-label {
      font-family: Arial;
      font-size: .87em;
    }

    .list-timestamp,
    .list-duration,
    .list-label {
      color: $black-darker;
    }

    .list-duration,
    .list-label {
      color: $shade;
    }

    .list-label {
      white-space: nowrap;
    }

    .list-timestamp,
    .list-duration {
      text-align: right;
    }

    .list-label,
    .list-status-text {
      text-align: right;
      text-transform: uppercase;
    }

    .md-secondary-container {
      margin-left: 16px;
      margin-right: -5px;
    }

    .action-icon {
      height: 24px;
    }

    .more-options {
      height: 100%;
    }

  }
}
