$black:        #424242 !default; /* primary color */
$black-dark:   #2b313f !default; /* primary color */
$black-darker: #101420 !default; /* primary color */
$blue:         #001342 !default; /* secondary color */
$blue-light:   #bfccdd !default; /* secondary color */
$blue-bright:  #1751c6 !default; /* Informational */
$gold:         #595757 !default; /* primary color */
$gold-light:   #595757 !default; /* primary color */
$green:        #0ac410 !default; /* Ok, Confirmed */
$gray:         #f1f5f8 !default; /* secondary color */
$grey:         #f1f5f8 !default; /* secondary color */
$red:          #d11515 !default; /* Error, Alert */
$white:        #ffffff !default; /* secondary color */
$yellow:       #ecc800 !default; /* Caution */
$shade:        #7c7c7c !default; /* text shade for list item */
$slate:        #1b202d !default;
$dark-grey:    #595757;
$dialog-bg-color: #e6eaed ;
$primary-black: #000000;

$parker-yellow: #595757 !default;
$parker-red: #c01a00 !default;
$parker-dark-blue: #001342 !default;
$parker-slate: #1b202d !default;
$parker-ice: #f1f5f8 !default;
