@import "../../../style/fonts/fonts";
@import "../../../style/variable";

state-switch {
  input {
    &[type="radio"] {
      display: none;
      visibility: hidden;
  }
}

  .switch-control {
    height: 35px;
  }

  .switch-control > div {
    border: 1px solid $black;
    box-sizing: border-box;
  }

  label {
    @extend %display-text;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 7px;
  }

  .selected {
    background-color: $gold;

    label {
      @extend %display-text;
      color: $black-darker;
    }
  }

  .switch-control > div:not(:first-child),
  .switch-control > div:not(:last-child) {
    margin-left: -1px;
  }

  .switch-control :first-child {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
  }

  .switch-control :last-child {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
  }

  %display-text {
    font-family: $primary-font;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }
}
