<div class="fleet-health-content">
  <h3 class="title">FLEET HEALTH</h3>
  <div class="info-overlay-control" ng-click="vm.showInfoOverlay()" ng-hide="!vm.infoOverlayHidden">
    <span>i</span>
  </div>
  <div class="donut">
    <nvd3 id="fleetHealthDonut" options="vm.options" data="vm.seriesData" api="vm.api"  ></nvd3>
    <div class="summary">
      <div class="percent">&nbsp;&nbsp;{{ vm.getActiveStatPercentage() }}%</div>
      <div class="label">{{ vm.getActiveStatusLabel() }}</div>
      <a class="view-btn" ng-click="vm.onViewData({ status: vm.activeStatus })"><span>VIEW</span></a>
    </div>
  </div>

  <div class="stat-boxes">
    <div class="canvas-container">
      <canvas width="800" height="150"></canvas>
    </div>

    <div layout="row">
      <div class="left stat-box warning" ng-class="{ active : vm.activeStatus === vm.warningStatus }" ng-click="vm.setActiveStatus(vm.warningStatus)" flex>
        <div class="value">{{ vm.fleetHealthData.warning }}</div>
        <div class="label">{{ vm.warningStatus.label }}</div>
      </div>
      <div class="center stat-box normal" ng-class="{ active : vm.activeStatus === vm.normalStatus }" ng-click="vm.setActiveStatus(vm.normalStatus)" flex>
        <div class="value">{{ vm.fleetHealthData.normal }}</div>
        <div class="label">{{ vm.normalStatus.label }}</div>
      </div>
      <div class="right stat-box alarm" ng-class="{ active : vm.activeStatus === vm.alarmStatus }" ng-click="vm.setActiveStatus(vm.alarmStatus)" flex>
        <div class="value">{{ vm.fleetHealthData.alarm }}</div>
        <div class="label">{{ vm.alarmStatus.label}}</div>
      </div>
    </div>
  </div>

  <div class="info-overlay" ng-hide="vm.infoOverlayHidden">
    <div class="info-overlay-control close-btn" ng-click="vm.hideInfoOverlay()"><span>x</span></div>

    <div class="instruction category-summary-instruction">
      <p>
        Click on the sections of the pie chart to see summaries of each category
      </p>
      <div class="arrow">
        <svg
            xmlns:dc="http://purl.org/dc/elements/1/"
            xmlns:cc="http://creativecommons.org/ns#"
            xmlns:rdf="http://www.w3org/1999/2/22-rdf-syntax-ns#"
            xmlns:svg="http://www.w3.org/2000/svg"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0dtd"
            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
            width="129"
            height="35"
            viewBox="0 0 129 35"
            id="svg4185"
            version="1"
            inkscape:version="1 r13725"
            inkscape:export-filename="/Users/shawn/Desktop/arrow.png"
            inkscape:export-xdpi="67"
            inkscape:export-ydpi="67"
            sodipodi:docname="arrow-up.svg">
          <defs
              id="defs4187" />
          <sodipodi:namedview
              id="base"
              pagecolor="#ffffff"
              bordercolor="#666666"
              borderopacity="1"
              inkscape:pageopacity="0"
              inkscape:pageshadow="2"
              inkscape:zoom="6"
              inkscape:cx="75"
              inkscape:cy="5"
              inkscape:document-units="px"
              inkscape:current-layer="layer1"
              showgrid="false"
              units="px"
              fit-margin-top="0"
              fit-margin-left="0"
              fit-margin-right="0"
              fit-margin-bottom="0"
              inkscape:window-width="1440"
              inkscape:window-height="851"
              inkscape:window-x="1920"
              inkscape:window-y="323"
              inkscape:window-maximized="1" />
          <metadata
              id="metadata4190">
            <rdf:RDF>
              <cc:Work
                  rdf:about="">
                <dc:format>image/svg+xml</dc:format>
                <dc:type
                    rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                <dc:title></dc:title>
              </cc:Work>
            </rdf:RDF>
          </metadata>
          <g
              inkscape:label="Layer 1"
              inkscape:groupmode="layer"
              id="layer1"
              transform="translate(-0,-993)">
            <g
                id="g4774"
                inkscape:export-xdpi="67"
                inkscape:export-ydpi="67">
              <path
                  sodipodi:nodetypes="cc"
                  inkscape:connector-curvature="0"
                  id="path4744"
                  d="m 1,1006 c 50,44 107,6 113,0"
                  style="fill:none;fill-rule:evenodd;stroke:#ffd42a;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
              <path
                  sodipodi:nodetypes="cccc"
                  inkscape:connector-curvature="0"
                  id="path4746"
                  d="m 105,997 18,18 5,-22 z"
                  style="fill:#ffd42a;fill-opacity:1;fill-rule:evenodd;stroke:#ffd42a;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
            </g>
          </g>
        </svg>
      </div>
    </div>

    <div class="instruction view-button-instruction">
      <p>
        Click on the "VIEW" button to see devices in the selected state
      </p>
      <div class="arrow">
        <svg
            xmlns:dc="http://purl.org/dc/elements/1.1/"
            xmlns:cc="http://creativecommons.org/ns#"
            xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
            xmlns:svg="http://www.w3.org/2000/svg"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
            width="128.90561"
            height="34.926292"
            viewBox="0 0 128.90561 34.926293"
            id="svg4185"
            version="1.1"
            inkscape:version="0.91 r13725"
            inkscape:export-filename="/Users/shawn/Desktop/arrow.png"
            inkscape:export-xdpi="66.900002"
            inkscape:export-ydpi="66.900002"
            sodipodi:docname="arrow-right-flat.svg">
          <defs
              id="defs4187" />
          <sodipodi:namedview
              id="base"
              pagecolor="#ffffff"
              bordercolor="#666666"
              borderopacity="1.0"
              inkscape:pageopacity="0.0"
              inkscape:pageshadow="2"
              inkscape:zoom="11.2"
              inkscape:cx="-83.686132"
              inkscape:cy="4.6404579"
              inkscape:document-units="px"
              inkscape:current-layer="layer1"
              showgrid="false"
              units="px"
              fit-margin-top="0"
              fit-margin-left="0"
              fit-margin-right="0"
              fit-margin-bottom="0"
              inkscape:window-width="1440"
              inkscape:window-height="851"
              inkscape:window-x="1920"
              inkscape:window-y="323"
              inkscape:window-maximized="1" />
          <metadata
              id="metadata4190">
            <rdf:RDF>
              <cc:Work
                  rdf:about="">
                <dc:format>image/svg+xml</dc:format>
                <dc:type
                    rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                <dc:title></dc:title>
              </cc:Work>
            </rdf:RDF>
          </metadata>
          <g
              inkscape:label="Layer 1"
              inkscape:groupmode="layer"
              id="layer1"
              transform="translate(-0.31428483,-992.77215)">
            <g
                id="g4774"
                inkscape:export-xdpi="66.900002"
                inkscape:export-ydpi="66.900002">
              <path
                  sodipodi:nodetypes="cc"
                  inkscape:connector-curvature="0"
                  id="path4744"
                  d="m 0.97951471,1001.2185 c 48.84740429,21.4598 92.24845929,8.022 113.38962529,4.4643"
                  style="fill:none;fill-rule:evenodd;stroke:#ffd42a;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" />
              <path
                  sodipodi:nodetypes="cccc"
                  inkscape:connector-curvature="0"
                  id="path4746"
                  d="m 105.17858,997.18354 4.01786,19.28566 18.73537,-14.7839 z"
                  style="fill:#ffd42a;fill-opacity:1;fill-rule:evenodd;stroke:#ffd42a;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
            </g>
          </g>
        </svg>
      </div>
    </div>

    <div class="instruction stat-box-instruction">
      <p>
        Total cases within each state
      </p>
      <div class="arrow">
        <svg
            xmlns:dc="http://purl.org/dc/elements/1.1/"
            xmlns:cc="http://creativecommons.org/ns#"
            xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
            xmlns:svg="http://www.w3.org/2000/svg"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
            xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
            width="188.40219"
            height="61.465511"
            viewBox="0 0 188.40219 61.465512"
            id="svg4185"
            version="1.1"
            inkscape:version="0.91 r13725"
            inkscape:export-filename="/Users/shawn/Desktop/arrow.png"
            inkscape:export-xdpi="66.900002"
            inkscape:export-ydpi="66.900002"
            sodipodi:docname="arrow-down-with-circle.svg">
          <defs
              id="defs4187" />
          <sodipodi:namedview
              id="base"
              pagecolor="#ffffff"
              bordercolor="#666666"
              borderopacity="1.0"
              inkscape:pageopacity="0.0"
              inkscape:pageshadow="2"
              inkscape:zoom="5.6"
              inkscape:cx="90.385629"
              inkscape:cy="31.70877"
              inkscape:document-units="px"
              inkscape:current-layer="g4774"
              showgrid="false"
              units="px"
              fit-margin-top="0"
              fit-margin-left="0"
              fit-margin-right="0"
              fit-margin-bottom="0"
              inkscape:window-width="1440"
              inkscape:window-height="851"
              inkscape:window-x="1920"
              inkscape:window-y="323"
              inkscape:window-maximized="1" />
          <metadata
              id="metadata4190">
            <rdf:RDF>
              <cc:Work
                  rdf:about="">
                <dc:format>image/svg+xml</dc:format>
                <dc:type
                    rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                <dc:title></dc:title>
              </cc:Work>
            </rdf:RDF>
          </metadata>
          <g
              inkscape:label="Layer 1"
              inkscape:groupmode="layer"
              id="layer1"
              transform="translate(1.2574755,-993.30124)">
            <g
                id="g4774"
                inkscape:export-xdpi="66.900002"
                inkscape:export-ydpi="66.900002"
                transform="matrix(0,0.9910351,1.1099202,0,-1054.4471,945.70232)">
              <g
                  id="g4816"
                  transform="matrix(-0.08715576,0.88949092,-1.1156988,-0.08715579,1192.0864,1036.1377)">
                <path
                    style="fill:none;fill-rule:evenodd;stroke:#ffd42a;stroke-width:2;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                    d="m 0.97951471,1005.6828 c 39.55130729,19.4148 93.93124429,9.7587 113.38962529,0"
                    id="path4744"
                    inkscape:connector-curvature="0"
                    sodipodi:nodetypes="cc" />
                <path
                    style="fill:#ffd42a;fill-opacity:1;fill-rule:evenodd;stroke:#ffd42a;stroke-width:1px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                    d="m 103.75947,1001.2305 11.87585,14.3373 12.55014,-17.22808 z"
                    id="path4746"
                    inkscape:connector-curvature="0"
                    sodipodi:nodetypes="cccc" />
              </g>
              <ellipse
                  style="opacity:1;fill:none;fill-opacity:1;stroke:#ffd42a;stroke-width:1.47169662;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
                  id="path4847"
                  cx="1093.0585"
                  cy="80.803833"
                  transform="matrix(0,1,1,0,0,0)"
                  rx="24.83729"
                  ry="28.511353" />
            </g>
          </g>
        </svg>
      </div>
    </div>

  </div>
</div>
