#linechartdiv {
	// width		: 80%;
	height		: 400px;
	font-size	: 11px;
}

.btns-row > div {
    margin-bottom: 12px;
		text-align: center;
}

@media (min-width: 992px){

.btns-row > div button {
  width: 150px;
}

}
