@import '../common';

.charts {
  background-color: $bgColor;
  // height: 41rem;
  // padding: 2rem;
  margin: 1rem;
  display: block;
  border-radius: 10px;
  
  * {
    color: $lightTextColor;
  }
}
// #chartd {
//   width: 30%;
//   height: 300px;
//   float: right;
// }	

// #chartdi {
//   width: 45%;
//   height: 300px;
//   float: right;
// }

// #chartdiv {
//   width: 40%;
//   height: 300px;
//   margin-top: 0px;
  
// }

// #chartspan {
//   width: 40%;
//   height: 300px;
  
// }	
